<h1>RecruitR Dashboard</h1>
<ul>
    <li><%= link_to 'Add or edit skills', controller: 'skills' %></li>
    <li><%= link_to 'Add or edit managers', controller: 'managers' %></li>
    <li><%= link_to 'Add or edit candidates', controller: 'candidates' %></li>
</ul>