<h2>All positions</h2>
<%= link_to 'Add position', new_position_path %>
<% if @positions.count > 0 %>
<table>
    <% @positions.each do |position| %>
        <tr>
            <td><%= link_to position.title, position_path(position) %></td>
            <td>
                <%= position.all_skills_with_hashtags %>
            </td>
            <td>
                <% # link to view candidates for a given position %>
                <%= link_to pluralize(Candidate.where(position: position).count, "candidate"), controller: 'candidates', action: 'index', position_id: position.id %>
            </td>
        </tr>
    <% end %>
</table>
<% else %>
<h3>No positions open at the moment.</h3>
<% end %>