<h2>All positions</h2>
<%= link_to 'Add position', new_position_path %>
<table>
    <% @positions.each do |position| %>
        <tr>
            <td><%= link_to position.title, position_path(position) %></td>
            <td>
                <% position.skills.each do |skill| %>
                    #<%= skill.name %>&nbsp;
                <% end %>
            </td>
            <td>
                <%= link_to pluralize(Candidate.where(position: position).count, "candidate"), controller: 'positions', action: 'candidates', id: position %>
            </td>
        </tr>
    <% end %>
</table>